.menu-screen-title .grifter-regular {
  font-size: 2em;
}
.menu-screen-title .poppins-regular {
  font-size: 1em;
}

.menu-screen {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  padding:1em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  /* i hate css for this */
  /* change the above to have scrollbar there */
}

.menu-screen-title {
  display: inline-block;
  margin-top: 6em;
}

.profile-pic {
  border-radius: 50%;
  width: 3.5em;
  float: right;
}

.search-dish {
  margin-top: 2em;
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  color: white;
  border-radius: 10px;
  padding: 1em 1em;
  width: 100%;
}

.input-icon {
  position: relative;
  top: -10px;
  display: inline;
}

.input-icon .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon {
  cursor: pointer;
}

.food-category {
  background: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(3px);
  color: white;
  padding: 0.5em 1.5em;
  text-align: center;
  border-radius: 10px;
  font-size: 0.93em;
  cursor: pointer;
}

.menu-categories {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  /* gap: 0.5em; */
}

.category-selected {
  background-color: rgba(255, 255, 255, 0.4);
}

.dish-list {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow-y: scroll;
  max-height: 100%;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
  padding-bottom: 5em;
}

.dish-list::-webkit-scrollbar {
  display: none;
}
.dish-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  color: white;
  border-radius: 10px;
  width: 100%;
  min-height: 130px;
  max-height: 150px;
  display: flex;
}

.dish-name {
  font-size: 1em;
  font-weight: 700;
  display: block;
}

.dish-price {
  font-size: 1.2em;
  display: block;
}

.dish-left {
  padding: 2em 2em;
  width: 40%;
  flex: 1;
}

.dish-image {
  position: absolute;
  right: 0;
  height: 100%;
  object-fit: cover;
  width: 70%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}




