.menu-screen-title .grifter-regular {
  font-size: 2em;
}
.menu-screen-title .poppins-regular {
  font-size: 1em;
}

.menu-screen {
  height: 100vh;
  width: 100vw;
  padding: 2em;
  overflow-y: hidden;
  /* change the above to have scrollbar there */
}

.menu-screen-title {
  display: inline-block;
  margin-top: 6em;
}

.profile-pic {
  border-radius: 50%;
  width: 3.5em;
  float: right;
}

.search-dish {
  margin-top: 2em;
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  color: white;
  border-radius: 10px;
  padding: 1em 1em;
  width: 100%;
}

.input-icon {
  position: relative;
  display: inline;
}

.input-icon .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon {
  cursor: pointer;
}

.food-category {
  background: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(3px);
  color: white;
  padding: 0.5em 1.5em;
  text-align: center;
  border-radius: 10px;
  font-size: 0.93em;
  cursor: pointer;
}

.menu-categories {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  /* gap: 0.5em; */
}

.category-selected {
  background-color: rgba(255, 255, 255, 0.4);
}

.dish-list {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow-y: scroll;
  max-height: 100%;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}

.dish-list::-webkit-scrollbar {
  display: none;
}
.dish-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  color: white;
  border-radius: 10px;
  width: 100%;
  min-height: 130px;
  max-height: 150px;
  display: flex;
}

.dish-name {
  font-size: 1em;
  font-weight: 700;
  display: block;
}

.dish-price {
  font-size: 1.2em;
  display: block;
}

.dish-left {
  padding: 2em 2em;
  width: 40%;
  flex: 1;
}

.dish-image {
  position: absolute;
  right: 0;
  height: 100%;
  object-fit: cover;
  width: 70%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dish-add {
  position: absolute;
  right: 0;
  bottom: 20px;
  background: rgba(219, 219, 219, 1);
  color: black;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  font-weight: 700;
  margin-right: 1em;
  margin-bottom: -1em;
}


.dish-counter {
  position: absolute;
  right: 0;
  bottom: 20px;
  background: rgba(219, 219, 219, 1);
  color: black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  font-weight: 700;
  margin-right: 1em;
  margin-bottom: -1em;
  max-width: 40%;
  min-width: 30%;
  min-height:28%;
  display: flex;
  justify-content: center;
  gap:5px;
  
}

.dish-counter-btn {
  width: 30%;
  text-align: center;
  align-self: center;
  height: 100%;

  
}

